.hackathon_container {
    max-width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
    transition: scale 0.2s ease-in-out;
}

.hackathon_container:hover {
    scale: 1.1;
}

@media screen and (max-width: 700px) {

    .hackathon_container {
        margin: 0;
    }

}