.footer {
    width: 100vw;
    height: 150px;

    background-color: #131313;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials-bar {
    display: grid;
    grid-template-columns: repeat(5, 56px);
    column-gap: 5px;
    align-items: center;

    overflow: visible;

    background-color: transparent;
}

.social {
    width: 50px;
    height: 50px;

    background-size: cover;
    background-blend-mode: normal;

    overflow: visible;
    cursor: pointer;

    border-radius: 15px;

    transition: all 300ms;
}

.social:hover {
    width: 56px;
    height: 56px;

    transform: translateX(-3px);
}

#github {
    background-image: url("/social/github.png");
}
#github:hover {
    background-color: #4078c0;
}

#mail {
    background-image: url("/social/mail.png");
}
#mail:hover {
    background-color: #bd2c00;
}

#twitter {
    background-image: url("/social/twitter.png");
}
#twitter:hover {
    background-color: #1DA1F2;
}

#medium {
    background-image: url("/social/medium.png");
}
#medium:hover {
    background-color: #AF69EE;
}

#stackoverflow {
    background-image: url("/social/stackoverflow.png");
}
#stackoverflow:hover {
    background-color: #f48225;
}

.copyright {
    width: 100vw;
    display: flex;
    justify-content: center;

    padding: 5px 0;

    background-color: #131313;
}

.copyright p {
    background-color: #131313;
    text-align: center;
}