.container {
    width: 100vw;
    height: calc(70vh - 134px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small_title {
    color: var(--p500);
    font-size: 24px;
    font-family: 'SF Pro Display';

    margin-bottom: 25px;
}

.big_title {
    color: var(--text500);
    font-size: 55px;
    font-family: 'SF Pro Display';

    text-align: center;
    width: 60%;

    margin-bottom: 25px;
}

.subtitle {
    color: var(--text250);
    font-size: 30px;
    font-family: 'SF Pro Display';

    width: 40%;
    text-align: center;

    margin-bottom: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go_back {
    padding: 10px 20px;
    background-color: var(--bg550);
    color: var(--text500);
    font-family: 'SF Pro Display';
    font-size: 28px;

    margin: 0 15px;

    border: none;
    border-radius: 10px;

    --hover-transition: 0.1s ease-in-out;
    transition: background-color var(--hover-transition), scale var(--hover-transition);
    -o-transition: background-color var(--hover-transition), scale var(--hover-transition);
    -ms-transition: background-color var(--hover-transition), scale var(--hover-transition);
    -moz-transition: background-color var(--hover-transition), scale var(--hover-transition);
    -webkit-transition: background-color var(--hover-transition), scale var(--hover-transition);
    cursor: pointer;
}

.go_back:hover {
    background-color: var(--bg600);
}

.go_home {
    padding: 10px 20px;
    background-color: var(--p500);
    font-family: 'SF Pro Display';
    font-size: 28px;

    margin: 0 15px;

    border: none;
    border-radius: 10px;

    transition: 0.1s ease-in-out;
    cursor: pointer;
}