.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.hero {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_side {
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;

    overflow: visible;
}

.intro {
    margin-left: 15vw;
    transform: translateY(-10vh);
}

.intro h3 {
    width: 100%;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 800;
    color: var(--p350);
}

.intro h1 {
    width: 100%;
    white-space: nowrap;
    font-size: 80px;
    font-weight: 800;
    color: var(--text500);
}

.intro_subtitle {
    width: 100%;
    font-size: 28px;
    font-weight: 400;
    color: var(--text600);
}

.about_hero {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg550);
}

.about_hero_side {
    width: 50vw;
    margin: 160px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;

    overflow: visible;
}

.about_title {
    width: 100%;
    white-space: nowrap;
    font-size: 28px;
    font-weight: 800;
    color: var(--p350);
    margin-bottom: 30px;
}

.about_portrait {
    --portrait-height: 400px;
    --portrait-width: calc(var(--portrait-height) * (1656/2088));
    width: var(--portrait-width);
    height: var(--portrait-height);
    border-radius: 10px;
    cursor: pointer;
}

.about {
    width: 65%;
    font-size: 22px;
    font-weight: 400;
    color: var(--text600);
}

.about_hero_side_left {
    align-items: flex-end;
}

.projects_content {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_content h3 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 800;
    color: var(--p350);
}

.projects_content_subtitle {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 400;
    color: var(--text600);
}

.projects {
    max-width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .about_hero {
        flex-direction: column;
        align-items: center;

        padding: 100px 0;
    }

    .about_hero_side {
        width: 100vw;
        margin: 0;
        padding: 0 20px;
        align-items: center;
    }

    .about_hero_side_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_title {
        width: 100%;
        text-align: center;
    }

    .about {
        width: 90%;
        text-align: center;
    }
}