@media (max-width: 1200px) {

    .skills-container {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .skills-selector {
        margin-left: 0 !important;
    }

    .selected-skills {
        width: 90vw !important;
        margin-right: 0 !important;
    }

    .skill-section {
        text-align: center;
    }

}

.skills-hero {
    min-height: 500px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
}

.skills-title {
    margin-bottom: 20px;
    font-size: 55px;
}

.skills-subtitle {
    font-size: 25px;
    font-weight: 300;

    margin-top: 20px;
    margin-bottom: 100px;
}

.skills-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-selector {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected-skills {
    width: 50vw;
    height: min-content;
    margin-right: 5vw;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-section {
    font-size: 45px;
    font-weight: 300;
    margin: 30px;

    cursor: pointer;

    transition: all 300ms;
}

.skill-section-selected {
    color: var(--primary-color);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 40px;
    overflow: visible;
}

.skill img {
    width: 75px;
    aspect-ratio: 1;
}

.skill p {
    font-weight: 300;
    font-size: 30px;
    margin-top: 10px;

    width: 125px;
    overflow: visible;

    text-align: center;
}